#! /bin/bash
alias realias='source ~/.config/.aliases'
alias ls='exa'
alias ll='exa -l'
alias la='exa -la'
alias vi='nvim'
alias vim='nvim'
alias clip='xclip -selection clipboard' # command | clip
alias paste='xclip -o -selection clipboard' # paste | command or paste > file

alias mfetch='clear; neofetch --config $HOME/.config/neofetch/mini.conf --colors fg fg fg fg fg fg --off'
alias fetch='clear; neofetch --config $HOME/.config/neofetch/full.conf --colors 14 15 15 14 15 15'
alias chat='chatblade --openai-api-key "$(cat $HOME/.secrets/openai)"'

# upload a file to taylor's internet
alias upload='function _upload(){ curl -F"file=@$1" https://0x0.st; };_upload'
